127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.79.1 gateway

#Redis Hosts
192.168.79.111 hdo94btf7rhajoc88c4jy4r3.sheca.com ksdzyixenj39p3f2u4gor5ep.sheca.com
192.168.79.112 trgev8nruhoefvz0k1bdavvt.sheca.com qlprv1x5h9jif5pg56oma9m7.sheca.com
192.168.79.113 5vetb2znluu7vqgb7o9blrhp.sheca.com 3g3vzs1acqeew76o4iaqaolb.sheca.com
192.168.79.121 d7p94vrq045hpe68db53k5tz.sheca.com q592oqirakpge71i35zqu6ur.sheca.com spi2zngoc1zfr1dztmrl0f4g.sheca.com
192.168.79.122 4rhdgim8ikbamw5stkhskt3y.sheca.com yswhetwjuhb9tpgbzfxgdfa0.sheca.com 6gpyzqpmvis87350pgysejax.sheca.com
192.168.79.123 oegjgqrb4cgr3n9yje4tkv2r.sheca.com 44orw325q5yr175lmw3p8i4j.sheca.com 7lbuht07btvyvz1foz83fvyx.sheca.com